$tourmie-blue: #27a9e0 !default;
$tourmie-orange: #faaf40 !default;
$tourmie-dark-blue: #051320 !default;
$tourmie-lightblue: #D2EDF9 !default;
$tourmie-white: #f9f9f9;
$tourmie-gray: #5F727F !default;
$tourmie-lightgray: #F1F1F1 !default;
$tourmie-lightgray2: #a8b5bd !default;